[Unit]
Description=kernel - API Bigboxx
Documentation=https://github.com/e-cattle
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=pi
ExecStart=/usr/bin/node /opt/bigboxx/api/bin/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target