[Unit]
Description=api-kernel - API Kernel Bigboxx
Documentation=https://github.com/e-cattle
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=pi
ExecStart=/usr/bin/node /opt/bigboxx/kernel/bin/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target